body {
  background: #f3f2f3;
  font-family: Trebuchet MS, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

#container {
  width: 100%;    
  box-sizing: border-box;
}

#header {
  background: #D3CBBF;
  height: 170px;
  text-align: center;
  line-height: 150px;
  margin: 0;
  padding: 0;
}

#header h2 {
  margin: 0;
}

#top-text {
  background: #3c1c1c;
  color: white;
  padding: 10px;
  margin: 0;
  height: 20px;
}

#top-text p {
  margin: 0;
  text-align: center;
}

#columns {
  background: #D3CBBF;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.column {
  float: left;
  width: 15%;         
  margin: 4% 5% 4% 11%; 
  background: #ffffff;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  padding: 5px;
}

.column3 {
  margin-right: 0;
}

.column::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.column img, .column p {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.column p {
  color: black;
}

#clear {
  clear: both;
}

#bottom-text {
  background: #3c1c1c;
  color: white;
  padding: 10px;
  margin: 0;
  height: 20px;
}

#bottom-text p {
  margin: 0;
  text-align: center;
}

#footer {
  background: #D3CBBF;
  height: 150px;
  text-align: center;
  line-height: 100px;
  margin: 0;
  padding: 0;
}

#footer p{
   margin: 0;

}